/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html {
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
}
/* APP WRAP */
.app-wrap {
    width: 100%;
    height: 100vh;
    position: absolute;

    /* TEST */
    background: linear-gradient(#009688 100px, #dadbd3 80px);
}

/* APP CONTAINER */
.app-container {
    width: 85%;
    height: 95%;
    min-width: 800px;
    min-height: 700px;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    border: 1px solid black;
}

/* CONTACTS CONTAINER */
.contacts-container {
    width: 30%;
    height: 100%;
    min-width: 250px;

    border: 1px solid black;
}
/* CHAT CONTAINER */
.chat-container {
    width: 70%;
    height: 100%;


    border: 1px solid black;
}
/* USER CONTAINER BORDER RIGHT  */
.user-container {
    border-right: 1px solid #b1b1b1;
}

/* HEADERS OF CONTACTS CONTAINER & CHAT CONTAINER SETTINGS */
.user-container,
.interlocutor-container {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

.user-container-left,
.interlocutor-container-left {
    height: 100%;
    padding-left: 5px;

    display: flex;
    align-items: center;
}

.user-img-container,
.interlocutor-img-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.user-container-right, 
.interlocutor-container-right{
    height: 100%;
    display: flex;
    align-items: center;
}

.user-container-right span i,
.interlocutor-container-right span i {
    margin-right: 10px;
    color: #b1b1b1;
}
/* /HEADERS OF CONTACTS CONTAINER & CHAT CONTAINER SETTINGS */

/* NOTICE CONTAINER */
.notice-container {
    height: 60px;
    background-color: #8edafc;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.circle-bell {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    color:#8edafc;
    text-align: center;
    line-height: 45px;
    margin-right: 10px;
}

.notice-text a {
    font-size: 12px;
    color: #8b8b8b
}
/* /NOTICE CONTAINER */

/* SEARCH CONTAINER */
.search-container {
    padding: 10px 10px;
    background-color: #fafafa;
}

.search-container input {
    width: 100%;
    /* height: 30px; */
    border: none;
    padding: 10px;
    outline: none;
}
/* /SEARCH CONTAINER */
