/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html {
    font-family: 'Lato', sans-serif;
}

img {
    width: 100%;
}
/* APP WRAP */
.app-wrap {
    width: 100%;
    height: 100vh;
    /* position: absolute; */

    /* TEST */
    background: linear-gradient(#009688 100px, #dadbd3 80px);
}

/* APP CONTAINER */
.app-container {
    width: 85%;
    height: 95%;
    min-width: 800px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CONTACTS CONTAINER */
.contacts-container {
    width: 30%;
    height: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
}
/* USER CONTAINER BORDER RIGHT  */
.user-container {
    border-right: 1px solid #b1b1b1;
}

/* HEADERS OF CONTACTS CONTAINER & CHAT CONTAINER SETTINGS */
.user-container,
.interlocutor-container {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
}

.interlocutor-container-text span.last-login {
    font-size: 12px;
    color: #8b8b8b
}

.user-container-left,
.interlocutor-container-left {
    height: 100%;
    padding-left: 5px;

    display: flex;
    align-items: center;
}

.user-img-container,
.interlocutor-img-container {
    width: 2.2vw;
    height: 2.2vw;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.user-container-right, 
.interlocutor-container-right{
    height: 100%;
    display: flex;
    align-items: center;
}

.user-container-right span i,
.interlocutor-container-right span i {
    margin-right: 10px;
    color: #b1b1b1;
}
/* /HEADERS OF CONTACTS CONTAINER & CHAT CONTAINER SETTINGS */

/* CONTACTS CONTAINER TOP */
/* NOTICE CONTAINER */
.notice-container {
    height: 60px;
    background-color: #8edafc;
    padding-left: 11px;
    display: flex;
    align-items: center;
}

.circle-bell {
    height: 2.5vw;
    width: 2.5vw;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    background-color: white;
    color:#8edafc;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;;
}

.notice-text a {
    font-size: 12px;
    color: #8b8b8b
}
/* /NOTICE CONTAINER */

/* SEARCH CONTAINER */
.search-container {
    padding: 10px 10px;
    background-color: #fafafa;
    display: flex;
}

.search-container span {
    padding: 10px 30px;
    color: #8b8b8b;
    background-color: #ffffff;
    border-right: 1px solid #f1f1f1;
}

.search-container input {
    width: 100%;
    /* height: 30px; */
    border: none;
    padding: 10px;
    outline: none;
}
/* /SEARCH CONTAINER */
/* /CONTACTS CONTAINER TOP */

/* CONTACTS CONTAINER BOTTOM */
.contacts-container-bottom {
    flex-grow: 1;
    background-color: white;
    overflow-y: scroll;

}
.contacts-list {
    list-style: none;

}

.contacts-list li:first-child {
    border: none;
}

.contacts-list li {
    height: 60px;
    border-top: 1px solid #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-left {
    display: flex;
    padding-left: 13px;
}

.contact-left .contact-profile-image {
    width: 2.8vw;
    height: 2.8vw;
    min-width: 40px;
    min-height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden;
}

.last-message {
    font-size: 12px;
    color: #b1b1b1;
}

.contact-right {
    height: 100%;
}

.last-message-time>span {
    position: relative; 
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: #b1b1b1
}
/* /CONTACTS CONTAINER BOTTOM */

/* CHAT CONTAINER */
.chat-container {
    width: 70%;
    height: 100%;
}


/* CHAT */
.chat {
    height: calc(100% - 110px);
    background-image: url(../img/mine.jpg);
    padding-top: 40px;
    overflow-y: auto;
}

ul.messages {
    list-style: none;
}

li.message {
    margin-bottom: 4px;
}

li.message>span {
    display: inline-block;
    min-width: 250px;
    max-width: 43%;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 10px;
    text-align: left;
    position: relative;
}

.sended-container {
    text-align: end;
}

.sended-message {
    background-color: #d5f9ba;
    margin-right: 8%;
}

.recived-message {
    background-color: #ffffff;
    margin-left: 8%;
}

.message-time {
    font-size: 10px;
    color: #b1b1b1;
    position: absolute;
    bottom: 3px;
    right: 5px;
}
/* /CHAT */

/* SEND MESSAGE CONTAINER */
.send-message-container {
    height: 60px;
    background-color: #f3eeea;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-message-input-container {
    margin: 0 25px;
    flex-grow: 1;
}

.send-message-input-container input {
    padding: 10px 15px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
}

.send-message-icon i {
    color: #8b8b8b;
}
/* /SEND MESSAGE CONTAINER */
/* /CHAT CONTAINER */

